Chapter3/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Chapter3/bin/Debug/Chapter3.exe
Chapter3/bin/Debug/Chapter3.pdb
Chapter3/bin/Debug/Chapter3.vshost.exe
Chapter3/bin/Debug/Chapter3.vshost.exe.manifest
Chapter3/obj/x86/Debug/Chapter3.csproj.FileListAbsolute.txt
Chapter3/obj/x86/Debug/Chapter3.exe
Chapter3/obj/x86/Debug/Chapter3.pdb